.bg-brown-primary {
    background-color: $primary-brown !important;
}

.bg-brown-secondary {
    background-color: $secondary-brown !important;
}

.bg-light-blue {
    background-color: $light-blue !important;
}

.bg-light-green {
    background-color: $light-green !important;
}

.bg-light-brown {
    background-color: $light-brown !important;
}

.text-brown-primary {
    color: $primary-brown !important;
}

.text-brown-secondary {
    color: $secondary-brown !important;
}
