.brgy-nav-tabs {
    --bs-nav-tabs-border-color: var(--brgy-primary-color);

    --bs-nav-tabs-link-active-color: var(--brgy-primary-text-color);
    --bs-nav-tabs-link-active-border-color: var(--brgy-primary-color);
    --bs-nav-tabs-link-active-bg: var(--brgy-primary-color);
}