:root {
    --theme-color: {{ $appearanceSettings->theme_color ?? '#FAEED8' }};
    --primary-color: {{ $appearanceSettings->primary_color ?? '#503C2F' }};
    --secondary-color: {{ $appearanceSettings->secondary_color ?? '#FAFAFA' }};
    --text-color: {{ $appearanceSettings->text_color ?? '#000000' }};
}

.statistics-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    background-color: var(--theme-color);
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    color: var(--text-color);
    min-height: 100%;
}

.statistics-header {
    grid-column: span 3;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.stat-item {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stat-item h3 {
    margin-top: 10px;
    font-size: 1.1rem;
    color: var(--text-color);
}

.stat-item .value {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.gender-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.stat-icon {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.pie-chart-container {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.pie-chart-container canvas {
    width: 100%;
    height: auto;
    max-height: 200px;
}

.chartjs-legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;
}



.chart-container {
    grid-column: span 2;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Smaller grid setup for smaller screens */
@media (max-width: 768px) {
    .statistics-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}