body {
    font-family: 'Arial', sans-serif;
    background-color: #FAEED8;
    color: #503C2F;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 500px;
    padding: 20px;
    background-color: #503C2F;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    margin-bottom: 20px;
}

.login-header .logo {
    width: 400px;
    max-width: 100%;
    margin-bottom: -20px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #FAEED8;
    margin: 10px 0;
}

h2 {
    font-size: 1.5em;
    color: #FAFAFA;
    margin-bottom: 50px;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 300px;
    max-width: 100%;
    position: relative;
    padding-bottom: 23px; /* Reduced space for error messages */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #FAEED8;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #FAEED8;
    color: #503C2F;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.form-group .error {
    color: #f44336;
    font-size: 0.875em;
    position: absolute;
    top: 75%; /* Move error message closer to the input field */
    left: 0;
    width: 100%;
    padding-top: 3px;
}

.form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 322px;
    color: #FAEED8;
    margin-top: -30px; /* Move it closer to the password field */
}

.form-check-label {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 10px;
}

.btn-primary {
    width: 100%;
    max-width: 300px;
    background-color: #FAEED8;
    color: #503C2F;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-primary:hover {
    background-color: #e0a800;
}

.form-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.forgot-password {
    color: #281000;
    text-decoration: none;
    margin-left: auto;
    margin-right: 0;
}

.sign-up-link {
    color: #281000;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.sign-up-link:hover {
    text-decoration: underline;
}

.signup-text-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signup-text {
    color: #FAEED8;
}

.signup-link {
    color: #281000;
    text-decoration: none;
    margin-left: 10px;
}

.signup-link:hover {
    text-decoration: underline;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
