body {
    font-family: 'Arial', sans-serif;
    background-color: #FAEED8;
    color: #503C2F;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    width: 600px;
    padding: 20px;
    background-color: #503C2F;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.signup-header {
    margin-bottom: 20px;
    width: 100%;
}

.signup-header .logo {
    width: 400px;
    margin-bottom: 5px;
}

.signup-header .line {
    width: 100%;
    height: 1px;
    background-color: #FAEED8;
    margin: 5px 0;
}

.signup-container h2 {
    font-size: 1.5em;
    color: #FAFAFA;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    max-width: 270px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 10px; /* Space for error message */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #FAEED8;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #FAEED8;
    color: #503C2F;
}

.form-group .error {
    color: #f44336;
    font-size: 0.875em;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    padding-top: 5px;
}

.btn-primary {
    background-color: #FAEED8;
    color: #503C2F;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    align-self: center;
}

.btn-primary:hover {
    background-color: #e0a800;
}

.btn-secondary {
    background-color: #FAEED8;
    color: #503C2F;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    display: inline-block;
}

.btn-secondary:hover {
    background-color: #e0a800;
}

.login-link {
    color: #281000;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    align-self: center;
}

.login-link:hover {
    text-decoration: underline;
}
