body {
    font-family: 'Arial', sans-serif;
    background-color: #FAEED8;
    color: #503C2F;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.dashboard-container {
    width: 100%;
    padding: 20px;
    background-color: #503C2F;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    color: #FAEED8;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.dashboard-header .logo {
    width: 200px;
}

.dashboard-header .welcome-message {
    font-size: 1.5em;
}

.dashboard-main {
    margin-top: 20px;
}

.dashboard-main p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.btn {
    background-color: #FAEED8;
    color: #503C2F;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 10px 5px;
}

.btn-primary {
    background-color: #FAEED8;
    color: #503C2F;
}

.btn-secondary {
    background-color: #6C757D;
    color: #FAEED8;
}

.btn-danger {
    background-color: #dc3545;
    color: #FAEED8;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e0a800;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-danger:hover {
    background-color: #c82333;
}

.alert {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #503C2F;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}
