.dashboard-banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: var(--secondary-color, #FAFAFA);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
}

.barangay-banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bc-barangay-logo {
    margin-right: 50px;
    margin-left: 40px;
}

.bc-barangay-logo img {
    width: 20vw;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.barangay-details h2 {
    font-size: clamp(30px, 4vw, 50px);
    color: var(--primary-color, #503C2F);
    margin-bottom: 10px;
}

.barangay-details p {
    font-size: clamp(14px, 1.5vw, 18px);
    color: var(--text-color, #000000);
    margin: 2px 0;
}

.barangay-details p:last-of-type {
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin: 0;
}

@media (max-width: 768px) {
    .bc-barangay-logo img {
        width: 100px;
        margin-right: 20px;
    }

    .barangay-details h2 {
        font-size: 24px;
    }

    .barangay-details p {
        font-size: 14px;
    }

    .barangay-details p:last-of-type {
        right: 10px;
        bottom: 10px;
    }
}
