@import "resources/css/common/common.css";

.content-container {
    display: flex;
    flex-direction: column;
    background-color: #503C2F;
    border-radius: 12px;
    padding: var(--section-padding);
    gap: var(--section-padding);
}

.content-container-header {
    display: flex;
    align-items: stretch;
}

.content-container-header .icon {
    width: 40px;
    height: 40px;
    margin-right: var(--section-padding-sm);
}

.content-container-header .content-container-header-title {
    margin: 0;
    color: var(--secondary-color);
}

.content {
    border-radius: 12px;
}

.content.light-brown {
    background-color: var(--light-brown);
}