.features-settings-container {
    width: 400px;
    margin-left: 20px;
}

.features-permissions-grid {
    display: flex;
    flex-direction: column;
}

.feature-category,
.permissions-category {
    margin-bottom: 20px;
}

.compact-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.role-permissions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.role-title {
    font-weight: bold;
    margin-bottom: 10px;
    grid-column: 1 / 2;
}

.permission-title {
    text-align: center;
    font-weight: bold;
}



button.btn-primary {
    background-color: #503C2F;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button.btn-primary:hover {
    background-color: #3E2F25;
}
