/* Admins Container */
.admins-container {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.admins-container h1 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

/* Table Styles */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--theme-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    table-layout: auto;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    color: var(--text-color);
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.table th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.table th:nth-child(2),
.table td:nth-child(2),
.table th:nth-child(3),
.table td:nth-child(3) {
    width: 30%;
}

/* Button Styles */
.btn {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

/* Deactivate Button (Red) */
.btn-danger {
    background-color: #f44336;
    color: #fff;
}

.btn-danger:hover {
    background-color: #d32f2f;
}

/* Activate Button (Green) */
.btn-success {
    background-color: #4CAF50;
    color: #fff;
}

.btn-success:hover {
    background-color: #45A049;
}

/* Primary Button */
.btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
